@charset #UTF-8;

body {
    font-family: 'Montserrat Alternates', sans-serif;
}



/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ APENAS MARCAÇÃO - Limpar ao final ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/
header{
    border: 2px solid #6db7fd;

}

.container{
    border: 2px solid gray
}



.container * {
    border: 1px solid hotpink;
}
/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ APENAS MARCAÇÃO - Limpar ao final ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/


.navegation-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid tomato;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.img-logo{
    height: 100px;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 10px;
}

.menu li {
    padding: 20px;
}



.container-botao img {
    height: 8%;
    margin: 32% 0 0 92%;
    position: fixed ;

}

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ ITENS PADRÕES ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/

.container {
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap; */
    align-items: center;
}


.citacao {
    font-size: 200%;
    font-weight: 600;
    flex-basis:0

}

.autor {
    font-size: 80%;
    font-weight: 500;
}

img {
    max-width:100%;
}

.titulo{
    font-size: 180%;
    font-weight: 600;
    padding-bottom: 2%;
}

p{
    font-size: 80%;
    line-height: 140%;
    font-weight: 500;
}

/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ ITENS PADRÕES ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ */


.home { /* Container home*/
    align-items: flex-start;
}


.container > div {/* Container da Primeira Citação*/
    margin: 8% -2% 0 4%;
    flex: 1 1 200px;

}


/* Faz com que os elementos fiquem grudados no container */
.container > div * {/*Primeira Citação e Autor)*/
    margin: auto;
}


#imgRebecca{
    max-height: 450px;
    /* margin-top: -3%; */
}

#imgRebecca_2{
    max-height: 100vh;
    margin: 0 0 0 -11px;
}

.quem{ /* QUEM*/
    display: flex;
    align-items: flex-start;
    height: 100vh; 
    background-color: #000000;
}
.quem > div { /* Titulo e Texto de 'Quem'*/
    color: #ffffff;
    margin: 10% 18% 0% 0;
}

.sugar { /* Container Sugar*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 5% 25% 5% 20%;
}

#imgfalaSteven{
    max-width: 50%;
    margin: -5% 0% 0% -12%;
}

.steven{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: auto;
}

.steven > div { /* Container Steven DIV*/
    margin-top: 4%;
    padding: 0 8% 0 3%;
}


#citacao-steven{
    display: flex;
    flex-direction: column  ;
    justify-content: flex-start; 
    margin: -10% 2% 0 35%;
}



.adventure > div { /* Container Adventure DIV*/
    background: chartreuse;
}


#imgfalaAdventure{
    max-height: 200px;
    max-width: 200px;
}


/* ~~~~~~~~~~~~~~~~~~~IMAGENS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ APENAS MARCAÇÃO - Limpar ao final ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼*/


#imgaviaodepapel{
    max-height: 200px;
    max-width: 200px;
}


#imginsta{
    max-height: 200px;
    max-width: 200px;
}
#imglinkedIn{
    max-height: 200px;
    max-width: 200px;
}



/* ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ APENAS MARCAÇÃO - Limpar ao final ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/